#--------------------------------------------------------------------
# Example Environment Configuration file
#
# This file can be used as a starting point for your own
# custom .env files, and contains most of the possible settings
# available in a default install.
#
# By default, all of the settings are commented out. If you want
# to override the setting, you must un-comment it by removing the '#'
# at the beginning of the line.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development
# CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# User
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:2345'
app.siteURL = 'http://localhost/'
# app.forceGlobalSecureRequests = false

# app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
# app.sessionCookieName = 'ci_session'
# app.sessionSavePath = NULL
# app.sessionMatchIP = false
# app.sessionTimeToUpdate = 300
# app.sessionRegenerateDestroy = false

# app.cookiePrefix = ''
# app.cookieDomain = ''
# app.cookiePath = '/'
# app.cookieSecure = false
# app.cookieHTTPOnly = false
# app.cookieSameSite = 'Lax'

# app.CSRFProtection  = false
# app.CSRFTokenName   = 'csrf_test_name'
# app.CSRFCookieName  = 'csrf_cookie_name'
# app.CSRFExpire      = 7200
# app.CSRFRegenerate  = true
# app.CSRFExcludeURIs = []
# app.CSRFSameSite    = 'Lax'

# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = 127.0.0.1
database.default.database = perpusnas_www
database.default.username = root
database.default.password =	root
database.default.DBDriver = MySQLi

# database.tests.hostname = 127.0.0.1
# database.tests.database = ci4
# database.tests.username = root
# database.tests.password = root
# database.tests.DBDriver = MySQLi

#--------------------------------------------------------------------
# CONTENT SECURITY POLICY
#--------------------------------------------------------------------

# contentsecuritypolicy.reportOnly = false
# contentsecuritypolicy.defaultSrc = 'none'
# contentsecuritypolicy.scriptSrc = 'self'
# contentsecuritypolicy.styleSrc = 'self'
# contentsecuritypolicy.imageSrc = 'self'
# contentsecuritypolicy.base_uri = null
# contentsecuritypolicy.childSrc = null
# contentsecuritypolicy.connectSrc = 'self'
# contentsecuritypolicy.fontSrc = null
# contentsecuritypolicy.formAction = null
# contentsecuritypolicy.frameAncestors = null
# contentsecuritypolicy.mediaSrc = null
# contentsecuritypolicy.objectSrc = null
# contentsecuritypolicy.pluginTypes = null
# contentsecuritypolicy.reportURI = null
# contentsecuritypolicy.sandbox = false
# contentsecuritypolicy.upgradeInsecureRequests = false

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

# encryption.key =
# encryption.driver = OpenSSL
# encryption.blockSize = 16
# encryption.digest = SHA512

#--------------------------------------------------------------------
# HONEYPOT
#--------------------------------------------------------------------

# honeypot.hidden = 'true'
# honeypot.label = 'Fill This Field'
# honeypot.name = 'honeypot'
# honeypot.template = '<label>{label}</label><input type="text" name="{name}" value=""/>'
# honeypot.container = '<div style="display:none">{template}</div>'

#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------

# security.tokenName  = 'csrf_token_name'
# security.headerName = 'X-CSRF-TOKEN'
# security.cookieName = 'csrf_cookie_name'
# security.expires    = 7200
# security.regenerate = true
# security.redirect   = true
# security.samesite   = 'Lax'

security.TOKEN_SECRET = cskhfuwt48wbfjn3i4utnjf38754hf3yfbjc93758thrjsnf83hcwn8437
security.TOKEN_IAT = 10
security.TOKEN_NBF = 60
security.TOKEN_EXP = 3600
security.TOKEN_ALG= 'HS256'

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

# logger.threshold = 4

#--------------------------------------------------------------------
# USER
#--------------------------------------------------------------------
user.codeExpired = "+3 days"

#--------------------------------------------------------------------
# VIEW
#--------------------------------------------------------------------
view.paginationLimit = 10
view.paginationOffset = 0
view.prefixUrl = "http://localhost:2020"
view.suffix = "content"
view.loginUrl = "http://localhost:2020/login"

#--------------------------------------------------------------------
# REDIS
#--------------------------------------------------------------------
redis.enabled = true
redis.host = 127.0.0.1
redis.port = 6379
redis.auth = ''
redis.username = ''
redis.password = ''
redis.lifetime = 3600 #default
redis.lifetime.warm = 3600 #1 hours
redis.lifetime.cold = 25200 #1 week

#redis-cli -h redis-stg-indozone.bjoffv.0001.apse1.cache.amazonaws.com -p 6379
#redis-cli -h 127.0.0.1 -p 6379

#--------------------------------------------------------------------
# MAIL
#--------------------------------------------------------------------
mail.Host = 'smtp.mailtrap.io'
mail.SMTPAuth = true
mail.Port = 2525
mail.Username = 'fe11dd7b855538'
mail.Password = '1604959f81a0d1'
mail.FromEmail = 'noreply@perpusnas.go.id'
mail.FromName = 'Perpusnas'

#--------------------------------------------------------------------
# SMS
#--------------------------------------------------------------------
sms.host = 'https://sms114.xyz'
sms.apikey = 'apikey'
sms.username = 'Alpha Febrianto'
sms.password = '285577'




